
.container-devis{
  div{
    height: 80px;
    margin-top: 5px;
  }

  label{
    font-size: 20px;
   
  }

 
  .label-devis {
    // display: flex;
    font-weight: bold;
    // padding:5px 80px 5px 0;
    font-size: 25px;
  }
  
  .gras{
    
    font-size: 40px;
  }

  
}


/* #### update devis #### */

