<div class="img-bus">
  <img src="../img/bus.jpg" alt="">
  <img src="../img/accueil.png" alt="">
</div>

<button class="button-devis button-accueil" onclick={{action "toDevis"}}>Demande de devis.</button>