<div class="changePwd">
  <h3 class="titleVoyage">Changement de mot passe</h3>
  <form onsubmit={{action "changePwd"}}>
    <div>
      {{input type="password" value=pwd placeholder="password" id="pwd" class="" required=true}}
    </div>
    <div>
      {{input type="password" value=confirmPwd placeholder="Confirm password" id="confirmPwd" required=true}}
    </div>
    <div class="button">
      <button >Confirmation</button>
    </div>
    {{#if pwdDiff}}
    <p class="pwdDiff">Les 2 mots de passe ne sont pas identiques</p>
    {{/if}}
  </form>
</div>