<div class="bodybg container-devi">
  <div class="servicecontainer">
   <h3>Services</h3>
   
   

<div class="serviceTop">
      <div class="imageservice"><img src="../img/suncars.jpg" alt="">
      </div>
      <h5>Nous proposons également..</h5>
      <div class="paracars">
        <p>Parce que votre évènement est unique, nous vous proposons de personnaliser votre parcours.
          Fixez vos points de rendez vous, définissez vos arrêts et laissez vous transporter en
          toute tranquillité.</p>
      </div>
      <div class="discobus">
        <div class="photo01">
          <img src="../img/servicecover.jpg" alt=" ">
<br/>
          <p>Vous propose de venir vous chercher sur votre lieu de convenance avec un autobus articulé de 18m
            totalement
            aménagé en discothèque
            pour organiser vos événements privés (enterrement de vie de célibataire, anniversaire, soirée privée etc..)
          </p>  <br/>
          <p>Disposant d'un plafond entièrement fait de miroirs, une sonorisation équipée par Bose de plus
            de 2500 Watts, un poste DJ Hight-Tech entièrement équipé par Pioneer,
            le TRAVEL BUS vous garantit une qualité audio digne des plus grands
            établissements Parisien. </p>
        </div>




      </div>
</div>
 <div class="service"></div>
      <h2>A votre disposition</h2>

      <div class="container2">

        <div class="para1">
          <ico class="fas fa-wifi fa-2x"></ico><h5>Wifi</h5>
          

          <p>Pour ne pas vous ennuyer, vous obtenez un accès gratuit à notre Wi-fi dans le bus pour pouvoir surfer sur
            internet, chatter avec vos amis et consulter vos e-mails pendant tout le voyage – le tout à vitesse 4G !
            Avec
            Travel Cars vous êtes toujours connectés.
          </p>
        </div>

        <div class="para2">
          <ico class="fas fa-walking fa-2x"></ico>

          <h5>Espace pour les jambes</h5>

          <p>Dans nos cars vous disposez d’une place assise garantie avec beaucoup d’espace pour les jambes.
          </p>
        </div>

      </div>
      
      <div class="container3">
        <div class="para3">
          <ico class="fas fa-glass-cheers fa-2x"></ico>
          <h5>Snacks et boissons</h5>
          <p>Chez Travel Cars vous ne manquerez de rien : des boissons et des petits snacks sont disponibles à bord.
            Vous
            pouvez les acheter facilement auprès de nos sympathiques chauffeurs.
          </p>
        </div>

        <div class="para4">
          <ico class="fas fa-bolt fa-2x"></ico>
          <h5>Prises électriques</h5>
          <p>Vous souhaitez surfer sur Internet, chatter ou travailler sur votre ordinateur portable, mais votre
            batterie est
            vide ? Recherchez tout simplement les prises indiquées par des symboles ou demandez à nos aimables
            chauffeurs où
            elles se trouvent.
          </p>
        </div>
      </div>

      <div class="container4">
        <div class="para5">
          <ico class="fas fa-toilet fa-2x"></ico>
          <h5>Toilettes</h5>
          <p>Encore quelques minutes avant votre arrivée ? Aucune raison de s'inquiéter ! Tous les Travel Cars sont
            équipés de
            toilettes pour les cas d'urgence.</p>
        </div>

        <div class="para6">
          <ico class="fas fa-suitcase fa-2x"></ico>
          <h5>Bagages</h5>
          <p>Avec Travel Cars, vous pouvez emporter énormément de bagages ! Il vous suffit de les stocker en soute puis
            de
            profiter du voyage. Nos chauffeurs seront bien sûr heureux de vous aider pour le chargement. Vous trouverez
            plus
            d’information dans la rubrique</p>
        </div>
      </div>
    </div>
    </div>