<nav>
  <div class="logo">
    <img src="../../img/logo.png" height="80" width="180" alt="">
  </div>
  <Menu @route="agent" @onClick={{action "logout"}}/>

</nav>


<div class="back-office">
  <div class="sidebar">
    <ul>
      <li><i class="fas fa-bell"></i>{{#link-to "back-agent.agent.devis-attente"}}devis en attente {{/link-to}}</li>
      <li><i class="fas fa-bell"></i>{{#link-to "back-agent.agent.devi-traiter"}}devis traités{{/link-to}}</li>
      <li><i class="fas fa-bell"></i>{{#link-to "back-agent.agent.devi-finish"}}devis finis{{/link-to}}</li>

    </ul>
  </div>
  <div class="outlet-back">{{outlet}}</div>
</div>