<nav>
  <div class="logo">
    {{#link-to "home.accueil"}}<img src="../img/logo.png" height="80" width="180" alt="">{{/link-to}}
  </div>
  <Menu @route="home"/>

</nav>

<div class="main-image">

</div>
<footer>
   
</footer>

{{outlet}}
